.s1{
position: absolute;
width: 1400px;
height: 188px;
left: 264px;
top: 0px;
}
.s29{
position: absolute;
width: 1400px;
height: 188px;
left: 264px;
top: 0px;
}
.s2{
	position: absolute;
width: 816px;
height: 454px;
left: 288px;
top: 224px;}
.s3{
position: absolute;
width: 432px;
height: 454px;
left: 1191px;
top: 224px;
}
.s4{
position: absolute;
width: 1335px;
height: 80px;
left: 288px;
top: 706px;
}
.s5{
position: absolute;
width: 1400px;
height: 480px;
left: 264px;
top: 816px;
}
.s6{
position: absolute;
width: 399.43px;
height: 389px;
left: 289.96px;
top: 1342px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #1D4095;}
.s7{
position: absolute;
width: 399.43px;
height: 389px;
left: 289.96px;
top: 1370px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

color: #C4C4C4;}
.s8{
position: absolute;
width: 399.43px;
height: 389px;
left: 289.96px;
top: 1390px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #39ADEF;}
.s9{
position: absolute;
width: 399.43px;
height: 389px;
left: 289.96px;
top: 1465px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;}
.s10{
position: absolute;
width: 127.82px;
height: 31px;
left: 414.78px;
top: 1740px;
}
.s11{
position: absolute;
width: 0.44px;
height: 460.28px;
left: 289.96px;
top: 1780px;
}
.s12{
position: absolute;
width: 0px;
height: 443px;
left: 734.33px;
top: 1342px;
}
.s13{
position: absolute;
width: 407.42px;
height: 389px;
left: 753.3px;
top: 1340px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;

color: #1D4095}
.s14{
position: absolute;
width: 407.42px;
height: 389px;
left: 753.3px;
top: 1403px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

color: #C4C4C4}
.s15{
position: absolute;
width: 407.42px;
height: 389px;
left: 753.3px;
top: 1421px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #39ADEF;}
.s16{
position: absolute;
width: 407.42px;
height: 389px;
left: 753.3px;
top: 1450px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;}
.s17{
position: absolute;
width: 0.44px;
height: 460.28px;
left: 699.96px;
top: 1780px;}
.s18{
position: absolute;
width: 127.82px;
height: 31px;
left: 901.09px;
top: 1740px;}
.s19{
position: absolute;
width: 870.76px;
height: 388.5px;
left: 289.96px;
top: 1788px;}
.s20{
position: absolute;
width: 127.82px;
height: 31px;
left: 414.78px;
top: 2130px;}
.s21{
position: absolute;
width: 127.82px;
height: 31px;
left: 901.09px;
top: 2130px;}
.s22{
position: absolute;
width: 0.44px;
height: 460.28px;
left: 724.28px;
top: 2176px;}
.s23{
position: absolute;
width: 0.44px;
height: 460.28px;
left: 289.96px;
top: 2176px;}
.s24{
position: absolute;
width: 418.4px;
height: 833px;
left: 1203.66px;
top: 1343px;
}
.s25{
position: absolute;
width: 135px;
height: 39px;
left: 290px;
top: 2195px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #1D4095;}
.s26{
position: absolute;
width: 1398px;
height: 88px;
left: 266px;
top: 2269px;}
.s27{
position: absolute;
width: 519px;
height: 112px;
left: 305px;
top: 2385px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;}
.s28{
position: absolute;
width: 62px;
height: 18px;
left: 476px;
top: 164px;
}
.s30{
position: absolute;
width: 1344px;
height: 80px;
left: 288px;
top: 224px;
}
.s31{
position: absolute;
width: 61px;
height: 25px;
left: 315px;
top: 312px;

font-family: 'Inter';
font-style: italic;
font-weight: 200;
font-size: 14px;
line-height: 17px;
text-decoration-line: underline;

color: #000000;}
.s32{
position: absolute;
width: 93px;
height: 24px;
left: 376px;
top: 312px;

font-family: 'Inter';
font-style: italic;
font-weight: 200;
font-size: 14px;
line-height: 17px;

color: #000000;}
.s33{
position: absolute;
width: 88px;
height: 25px;
left: 315px;
top: 340px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;

color: #1D4095;}
.s34{
position: absolute;
width: 242px;
height: 24px;
left: 863px;
top: 384px;}
.s35{
position: absolute;
width: 60px;
height: 18px;
left: 343px;
top: 164.20px;}
.s36{
position: absolute;
width: 1197px;
height: 100px;
left: -35px;
top: 370px;}
.s37{
position: absolute;
width: 1402px;
height: 1704px;
left: -86px;
top: 530px;}
.s38{
position: absolute;
width: 519px;
height: 79px;
left: -38px;
top: 2267px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;}
.s39{
position: absolute;
width: 242px;
height: 25px;
left: 456px;
top: 312px;

font-family: 'Inter';
font-style: italic;
font-weight: 200;
font-size: 14px;
line-height: 17px;

color: #000000;}
.s40{
position: absolute;
width: 1317px;
height: 95px;
left: 315px;
top: 372px;

font-family: 'Inter';
font-style: italic;
font-weight: 200;
font-size: 16px;
line-height: 24px;

color: #1D4095;}
.s41{
position: absolute;
width: 498px;
height: 263px;
left: 715px;
top: 497px;}
.s42{position: absolute;
width: 1002px;
height: 17px;
left: 463px;
top: 786px;

font-family: 'Inter';
font-style: italic;
font-weight: 200;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #1D4095}
.s43{
position: absolute;
width: 498px;
height: 266px;
left: 725px;
top: 833px;}
.s44{
position: absolute;
width: 1317px;
height: 137px;
left: 315px;
top: 1143px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #1D4095;
}
.s45{
position: absolute;
width: 498px;
height: 261px;
left: 725px;
top: 1310px;}
.s46{
position: absolute;
width: 1317px;
height: 132px;
left: 315px;
top: 1620px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #1D4095;}
.s47{
position: absolute;
width: 498px;
height: 263px;
left: 725px;
top: 1782px;
}
.s48{
position: absolute;
width: 1317px;
height: 156px;
left: 315px;
top: 2116px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #1D4095;}
.s49{
position: absolute;
width: 209px;
height: 17px;
left: 315px;
top: 2310px;}